.task {
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 3px #FFD700 solid;
    padding-bottom: 15px;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
}

.task .num {
    margin-right: 20px;
    background-color: #FFD700;
    padding: 5px 9px;
    border-radius: 6px;
    color: #000;
}

.task .task-title {
    color: #fff;
}

.task .remove {
    text-align: right;
    color: #FFD700;
    font-weight: bold;
    cursor: pointer;
}

.flex {
    display: flex;
    align-items: center;
}